body {
    background: url("http://localhost:3000/images/layout/bodybg.png") repeat-x scroll 0 0 #20425E;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
#page_holder {
    margin: 0 auto;
}
#page {
    margin: auto;
    width: 960px;
}
#page_wrapper {
    margin: 0 -25px;
    width: 1010px;
}
#top_shadow {
    background: url("http://localhost:3000/images/layout/Halo_rm_mod2.png") no-repeat scroll center top transparent;
    height: 520px;
    margin: 0 auto;
    min-width: 960px;
    overflow: hidden;
    width: 100%;
}
#container_shadow {
    background: url("http://localhost:3000/images/layout/side_shadow.png") repeat-y scroll 0 0 transparent;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
#container {
    display: inline;
    float: left;
    margin: -495px 25px 0;
    width: 960px;
}
#content {
    background-color: #FFFFFF;
    min-height: 140px;
    padding: 25px;
}

#footer {
    background-color: #FFFFFF;
    padding: 25px;
    text-align: center;
}
#bottom_shadow 
{
    background: url("http://localhost:3000/images/layout/bottom-shadow.png") no-repeat scroll center top transparent;
    height: 40px;
    margin: 0 auto;
    min-width: 960px;
    overflow: hidden;
    width: 100%;
}
#header
{
  height:45px;
  padding:85px 0;
  text-align:center;
}
#page_title
{
  height:2em;
  padding:.3em;
  background:#FFFFFF;
  text-align:center;
}
#breadcrumbs
{
  padding:.2em 0 .2em 25px;
  height:1em; 
  background:#262626;
  font-weight:bold;
  color:#FFFFFF;
}
.spacer
{
  height:3px;
}