<% @title = "Description of #{@service.name}" %>

  <div id="show_img">
    <%= image_tag(@product.img.url(:medium)) || "" %>
  </div>
  <div id="show_name">
    <%= @product.name%>
  </div>
  <div id="show_desc_long">
    <%= @product.desc_long %>
  </div>
  <div id="prod_update">
    last updated: <%= time_ago_in_words @product.created_at %> ago
  </div>
